{% extends "base.html" %}

{% block content %}

<div>
    <a href="{{ url_for('core.createteam') }}">Choose Team</a>
</div>

<h3>My Team</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Primary Type</th>
        <th>Secondary Type</th>
        <th>Ability1 </th>
        <th>Ability2</th>
        <th>Ability3</th>
        <th>HP </th>
        <th>Attack </th>
        <th>Defense </th>
        <th>Sp-Attack </th>
        <th>Sp-Defense </th>
        <th>Speed </th>
        <th>Region </th>
    </tr>
    {% for p in team %}
    <tr>
      <td>{{ p.pokeID }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.primaryType }}</td>
      <td>{{ p.secondaryType }}</td>
      <td>{{ p.ability1 }}</td>
      <td>{{ p.ability2 }}</td>
      <td>{{ p.ability3 }}</td>
      <td>{{ p.hp }}</td>
      <td>{{ p.attack }}</td>
      <td>{{ p.defense }}</td>
      <td>{{ p.sp_attack }}</td>
      <td>{{ p.sp_defense }}</td>
      <td>{{ p.speed }}</td>
      <td>{{ p.region }}</td>
    </tr>
    {% endfor %}
</table>

<h3>My Team Moves Coverage</h3>

<table>
  <tr>
    <th>Pokemon</th>
    <th>Normal</th>
    <th>Fire</th>
    <th>Water</th>
    <th>Electric</th>
    <th>Grass</th>
    <th>Ice</th>
    <th>Fighting</th>
    <th>Poison</th>
    <th>Ground</th>
    <th>Flying</th>
    <th>Psychic</th>
    <th>Bug</th>
    <th>Rock</th>
    <th>Ghost</th>
    <th>Dragon</th>
    <th>Dark</th>
    <th>Steel</th>
    <th>Fairy</th>
  </tr>
  <tr>
    <td>Total:</td>
    <td>{{ effectiveAgainst['Normal'] }}</td>
    <td>{{ effectiveAgainst['Fire'] }}</td>
    <td>{{ effectiveAgainst['Water'] }}</td>
    <td>{{ effectiveAgainst['Electric'] }}</td>
    <td>{{ effectiveAgainst['Grass'] }}</td>
    <td>{{ effectiveAgainst['Ice'] }}</td>
    <td>{{ effectiveAgainst['Fighting'] }}</td>
    <td>{{ effectiveAgainst['Poison'] }}</td>
    <td>{{ effectiveAgainst['Ground'] }}</td>
    <td>{{ effectiveAgainst['Flying'] }}</td>
    <td>{{ effectiveAgainst['Psychic'] }}</td>
    <td>{{ effectiveAgainst['Bug'] }}</td>
    <td>{{ effectiveAgainst['Rock'] }}</td>
    <td>{{ effectiveAgainst['Ghost'] }}</td>
    <td>{{ effectiveAgainst['Dragon'] }}</td>
    <td>{{ effectiveAgainst['Dark'] }}</td>
    <td>{{ effectiveAgainst['Steel'] }}</td>
    <td>{{ effectiveAgainst['Fairy'] }}</td>
  </tr>
  <tr>
    <td>First Pokemon</td>
    <td>{{ poke1Coverage['Normal'] }}</td>
    <td>{{ poke1Coverage['Fire'] }}</td>
    <td>{{ poke1Coverage['Water'] }}</td>
    <td>{{ poke1Coverage['Electric'] }}</td>
    <td>{{ poke1Coverage['Grass'] }}</td>
    <td>{{ poke1Coverage['Ice'] }}</td>
    <td>{{ poke1Coverage['Fighting'] }}</td>
    <td>{{ poke1Coverage['Poison'] }}</td>
    <td>{{ poke1Coverage['Ground'] }}</td>
    <td>{{ poke1Coverage['Flying'] }}</td>
    <td>{{ poke1Coverage['Psychic'] }}</td>
    <td>{{ poke1Coverage['Bug'] }}</td>
    <td>{{ poke1Coverage['Rock'] }}</td>
    <td>{{ poke1Coverage['Ghost'] }}</td>
    <td>{{ poke1Coverage['Dragon'] }}</td>
    <td>{{ poke1Coverage['Dark'] }}</td>
    <td>{{ poke1Coverage['Steel'] }}</td>
    <td>{{ poke1Coverage['Fairy'] }}</td>
  </tr>
  <tr>
    <td>Second Pokemon</td>
    <td>{{ poke2Coverage['Normal'] }}</td>
    <td>{{ poke2Coverage['Fire'] }}</td>
    <td>{{ poke2Coverage['Water'] }}</td>
    <td>{{ poke2Coverage['Electric'] }}</td>
    <td>{{ poke2Coverage['Grass'] }}</td>
    <td>{{ poke2Coverage['Ice'] }}</td>
    <td>{{ poke2Coverage['Fighting'] }}</td>
    <td>{{ poke2Coverage['Poison'] }}</td>
    <td>{{ poke2Coverage['Ground'] }}</td>
    <td>{{ poke2Coverage['Flying'] }}</td>
    <td>{{ poke2Coverage['Psychic'] }}</td>
    <td>{{ poke2Coverage['Bug'] }}</td>
    <td>{{ poke2Coverage['Rock'] }}</td>
    <td>{{ poke2Coverage['Ghost'] }}</td>
    <td>{{ poke2Coverage['Dragon'] }}</td>
    <td>{{ poke2Coverage['Dark'] }}</td>
    <td>{{ poke2Coverage['Steel'] }}</td>
    <td>{{ poke2Coverage['Fairy'] }}</td>
  </tr>
  <tr>
    <td>Third Pokemon</td>
    <td>{{ poke3Coverage['Normal'] }}</td>
    <td>{{ poke3Coverage['Fire'] }}</td>
    <td>{{ poke3Coverage['Water'] }}</td>
    <td>{{ poke3Coverage['Electric'] }}</td>
    <td>{{ poke3Coverage['Grass'] }}</td>
    <td>{{ poke3Coverage['Ice'] }}</td>
    <td>{{ poke3Coverage['Fighting'] }}</td>
    <td>{{ poke3Coverage['Poison'] }}</td>
    <td>{{ poke3Coverage['Ground'] }}</td>
    <td>{{ poke3Coverage['Flying'] }}</td>
    <td>{{ poke3Coverage['Psychic'] }}</td>
    <td>{{ poke3Coverage['Bug'] }}</td>
    <td>{{ poke3Coverage['Rock'] }}</td>
    <td>{{ poke3Coverage['Ghost'] }}</td>
    <td>{{ poke3Coverage['Dragon'] }}</td>
    <td>{{ poke3Coverage['Dark'] }}</td>
    <td>{{ poke3Coverage['Steel'] }}</td>
    <td>{{ poke3Coverage['Fairy'] }}</td>
  </tr>
  <tr>
    <td>Fourth Pokemon</td>
    <td>{{ poke4Coverage['Normal'] }}</td>
    <td>{{ poke4Coverage['Fire'] }}</td>
    <td>{{ poke4Coverage['Water'] }}</td>
    <td>{{ poke4Coverage['Electric'] }}</td>
    <td>{{ poke4Coverage['Grass'] }}</td>
    <td>{{ poke4Coverage['Ice'] }}</td>
    <td>{{ poke4Coverage['Fighting'] }}</td>
    <td>{{ poke4Coverage['Poison'] }}</td>
    <td>{{ poke4Coverage['Ground'] }}</td>
    <td>{{ poke4Coverage['Flying'] }}</td>
    <td>{{ poke4Coverage['Psychic'] }}</td>
    <td>{{ poke4Coverage['Bug'] }}</td>
    <td>{{ poke4Coverage['Rock'] }}</td>
    <td>{{ poke4Coverage['Ghost'] }}</td>
    <td>{{ poke4Coverage['Dragon'] }}</td>
    <td>{{ poke4Coverage['Dark'] }}</td>
    <td>{{ poke4Coverage['Steel'] }}</td>
    <td>{{ poke4Coverage['Fairy'] }}</td>
  </tr>
  <tr>
    <td>Fifth Pokemon</td>
    <td>{{ poke5Coverage['Normal'] }}</td>
    <td>{{ poke5Coverage['Fire'] }}</td>
    <td>{{ poke5Coverage['Water'] }}</td>
    <td>{{ poke5Coverage['Electric'] }}</td>
    <td>{{ poke5Coverage['Grass'] }}</td>
    <td>{{ poke5Coverage['Ice'] }}</td>
    <td>{{ poke5Coverage['Fighting'] }}</td>
    <td>{{ poke5Coverage['Poison'] }}</td>
    <td>{{ poke5Coverage['Ground'] }}</td>
    <td>{{ poke5Coverage['Flying'] }}</td>
    <td>{{ poke5Coverage['Psychic'] }}</td>
    <td>{{ poke5Coverage['Bug'] }}</td>
    <td>{{ poke5Coverage['Rock'] }}</td>
    <td>{{ poke5Coverage['Ghost'] }}</td>
    <td>{{ poke5Coverage['Dragon'] }}</td>
    <td>{{ poke5Coverage['Dark'] }}</td>
    <td>{{ poke5Coverage['Steel'] }}</td>
    <td>{{ poke5Coverage['Fairy'] }}</td>
  </tr>
  <tr>
    <td>Sixth Pokemon</td>
    <td>{{ poke6Coverage['Normal'] }}</td>
    <td>{{ poke6Coverage['Fire'] }}</td>
    <td>{{ poke6Coverage['Water'] }}</td>
    <td>{{ poke6Coverage['Electric'] }}</td>
    <td>{{ poke6Coverage['Grass'] }}</td>
    <td>{{ poke6Coverage['Ice'] }}</td>
    <td>{{ poke6Coverage['Fighting'] }}</td>
    <td>{{ poke6Coverage['Poison'] }}</td>
    <td>{{ poke6Coverage['Ground'] }}</td>
    <td>{{ poke6Coverage['Flying'] }}</td>
    <td>{{ poke6Coverage['Psychic'] }}</td>
    <td>{{ poke6Coverage['Bug'] }}</td>
    <td>{{ poke6Coverage['Rock'] }}</td>
    <td>{{ poke6Coverage['Ghost'] }}</td>
    <td>{{ poke6Coverage['Dragon'] }}</td>
    <td>{{ poke6Coverage['Dark'] }}</td>
    <td>{{ poke6Coverage['Steel'] }}</td>
    <td>{{ poke6Coverage['Fairy'] }}</td>
  </tr>
</table>

<h3> Search For Opposing Types</h3>
<form action="" method="post">

  {{ form.hidden_tag() }}

  {{ form.strongAgainst.label }}
  {{ form.strongAgainst }}

  {{ form.submit() }}

</form>

{% if strongAgainst %}

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Primary Type</th>
    <th>Secondary Type</th>
    <th>Ability1 </th>
    <th>Ability2</th>
    <th>Ability3</th>
    <th>HP </th>
    <th>Attack </th>
    <th>Defense </th>
    <th>Sp-Attack </th>
    <th>Sp-Defense </th>
    <th>Speed </th>
    <th>Region </th>
  </tr>
  {% for p in strongAgainst %}
    <tr>
      <td>{{ p.pokeID }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.primaryType }}</td>
      <td>{{ p.secondaryType }}</td>
      <td>{{ p.ability1 }}</td>
      <td>{{ p.ability2 }}</td>
      <td>{{ p.ability3 }}</td>
      <td>{{ p.hp }}</td>
      <td>{{ p.attack }}</td>
      <td>{{ p.defense }}</td>
      <td>{{ p.sp_attack }}</td>
      <td>{{ p.sp_defense }}</td>
      <td>{{ p.speed }}</td>
      <td>{{ p.region }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}